form tr td input[type="submit"]{

    font-size: 13px;
    width: 100px;
    height: 35px;
    border-radius: 20px;
}
form tr td select{
    width: 100px;
    color: rgb(255, 255, 255);
    background-color: #171b1f;
    border: none;

}
form tr td #add{
    background-color: transparent;
    border: 1px solid rgb(16, 129, 22);
    color: rgb(66, 255, 75);
}
form tr td #pending{
    border: 0;
    background-color: rgb(109, 0, 0);
    color: rgb(168, 167, 167);
    font-weight: 500;
}
form tr td #success{
    color: rgb(168, 167, 167);
    font-weight: 500;
}

form tr td #add:hover{
    background-color: rgb(16, 129, 22);
    color:white;
    transition: 0.5s ease;
}

p{
    color: aliceblue;
    font-size: larger;
    font-weight: 500;
    margin-bottom: 10px;
    
    .teachId{        
        color:rgb(173, 98, 243);
    }
}