.homeContainer {
  /* flex: 6; */
  .widgets {
    display: flex;
    padding-left: 20px;
    gap: 35px;
    position: absolute;
    top: 50px;
    left: 260px;
  }
  .Assi-widgets {
    display: flex;
    padding-left: 20px;
    gap: 40px;
    position: absolute;
    top: 260px;
    left: 260px;
  }

  .listContainer {
    width: 510px;
    padding: 20px;
    margin: 20px;
    margin-left: 85px;
    box-shadow: 2px 4px 10px 1px gray;
    position: absolute;
    top: 220px;
    left: 260px;
    border-radius: 10px;

    .all {
      display: flex;
      float: left;

      #listContainer-1{
        width: 500px;
        padding: 20px;
        margin: 20px;
        margin-left: 20px;
        box-shadow: 2px 4px 10px 1px gray;
        position: absolute;
        top: -20px;
        left: 520px;
        border-radius: 10px;
      }
    }

    .listTitle {
      color: rgb(236, 231, 236);
      font-size: 22px;
      margin-bottom: 15px;
      font-weight: 500;
    }

    .heading {
      /* margin-left: 24px; */
      .h-title {
        margin-right: 32px;
        height: min-content;
        color: rgb(118, 82, 248);
        justify-content: space-between;
        /* border-left:1px solid white ; */
        padding: 10px;
      }

    }
    .heading1 {
      /* margin-left: 24px; */
      .h-title1 {
        margin-left: 40px;
        height: min-content;
        color: rgb(118, 82, 248);
        justify-content: space-between;
        /* border-left:1px solid white ; */
        padding: 10px;
      }

    }
  }
}
